<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/sohel.abbasi/workspace/TestNGBasics">
        <classes>
            <class name="com.class1.BeforeAndAfterMethod">
                <methods>
                    <include name="testMethodOne"/>
                    <include name="testMethodTwo"/>
                </methods>
            </class>
            <class name="com.class1.ExampleBatch9">
                <methods>
                    <include name="firstFunction"/>
                    <include name="secondFunction"/>
                    <include name="thirdFunction"/>
                    <include name="fourthFunction"/>
                </methods>
            </class>
            <class name="com.class1.LoginTestBatch9">
                <methods>
                    <include name="validLogin"/>
                    <include name="validationOfTitle"/>
                </methods>
            </class>
            <class name="com.class1.PreAndPostConditionBatch9">
                <methods>
                    <include name="firstFunction"/>
                    <include name="secondFunction"/>
                    <include name="thirdFunction"/>
                </methods>
            </class>
            <class name="com.class2.AssertionsBatch9">
                <methods>
                    <include name="assertVerification"/>
                </methods>
            </class>
            <class name="com.class2.DependsOnAttributeBatch9">
                <methods>
                    <include name="launchApplication"/>
                    <include name="enterCredentials"/>
                </methods>
            </class>
            <class name="com.class2.EnableAndDisableBatch9">
                <methods>
                    <include name="validLogin"/>
                    <include name="validationOfTitle"/>
                </methods>
            </class>
            <class name="com.class2.HW">
                <methods>
                    <include name="AddEmployees"/>
                </methods>
            </class>
            <class name="com.class2.HardAssertionBatch9">
                <methods>
                    <include name="validLogin"/>
                </methods>
            </class>
            <class name="com.class2.PriotityBatch9">
                <methods>
                    <include name="logoutMethod"/>
                    <include name="loginMethod"/>
                    <include name="enterCredentialsMethod"/>
                    <include name="enterInvalidCrdentials"/>
                    <include name="anotherTestMethod"/>
                </methods>
            </class>
            <class name="com.class2.SoftAssertionBatch9">
                <methods>
                    <include name="softAssertionValidation"/>
                </methods>
            </class>
            <class name="com.class2.SoftAssertionHRMSBatch9">
                <methods>
                    <include name="loginAndValidateTitle"/>
                </methods>
            </class>
            <class name="com.class2.Task2Batch9">
                <methods>
                    <include name="invalidLogin"/>
                    <include name="validLogin"/>
                </methods>
            </class>
            <class name="com.class3.ExampleBatch9">
                <methods>
                    <include name="firstFunction"/>
                    <include name="secondFunction"/>
                    <include name="thirdFunction"/>
                    <include name="fourthFunction"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>