<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/sohel.abbasi/workspace/TestNGBasics/out">
        <classes>
            <class name="com.class1.BeforeAndAfterMethod"/>
            <class name="com.class2.DependsOnAttributeBatch9"/>
            <class name="com.class2.AssertionsBatch9"/>
        </classes>
    </test>
</suite>